.product_view .modal-dialog{
  max-width: 800px;
  width: 100%;
}

.pre-cost{
  text-decoration: line-through;
  color: #a5a5a5;
}

.space-ten{
  padding: 10px 0;
}

.img-responsive, .thumbnail>img, .thumbnail a>img {
  display: block;
  max-width: 100%;
  height: auto;
}

.background-white {
  background-color: #fff;
}

.item {
  margin-left: 30px;
  margin-bottom: 30px;
}

.badge {
  background-color: #6394F8;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.shopping-cart {
  margin: 20px 0;
  float: right;
  background: white;
  width: 320px;
  position: relative;
  border-radius: 3px;
  padding: 20px;

}

.full-width {
  width: 100%;
}

.margin-right {
  margin-right: 50px;
}